

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="JJB Equipe Agly legals">

    <!-- seo pour google -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="Manel Ocana">

    <!-- pour partager le link -->
    <meta property="og:title" content="JJB Equipe Agly">
    <meta property="og:description" content="Dojo jiu-jitsu brésilien">
    <meta property="og:image" content="image.webp">
    <meta property="og:type" content="website">

    <link rel="icon" href="favicon.ico">

    <!-- pour mobile -->
    <meta name="theme-color" content="#ffffff">

    <!-- ameillorer perfonmance de fontaines externes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet"> -->

    <title>JJB Equipe Agly | Jiu-Jitsu Brésilien à Saint Paul de Fenouillet</title>


    <link rel="stylesheet" href="../../style.css">

</head>


<body>

    <div class="site-header">

        <div class="brand flex-center">
            
            <div class="header-logo">
                <a href="../../index.html">
                    <img src="../../img/logo.png"
                        alt="logo jjb">
                </a>
            </div>
    
            <a href="../../index.html">
                <h1>JJB Équipe Agly</h1>
            </a>

        </div>

        
        <header>

            <div id="container-header"> 
                <nav class="header-nav">
                    <a href="../../index.html">Accueil</a>
                      
                </nav>          
            </div>
            
        </header>

    </div>


    <main>

        <section>
            <div class="container flex-column flex-center">

                <h1>Politique de confidentialité</h1>

                <p>Ce site ne collecte pas de données personnelles via des formulaires.</p>

                <p>Des données techniques peuvent être enregistrées automatiquement par le serveur (logs) pour des raisons de sécurité et de fonctionnement.</p>

                <p>Aucune donnée n’est utilisée à des fins commerciales.</p>
            </div>
        </section>

    </main>


    <footer id="footer" class="flex-column text-center">
        <div class="container">
            <div class="container_left">
                <h3>
                    JJB Équipe Agly
                </h3>

                <p>
                    Affilié à :
                    Mateo Saurat BJJ
                    Reinaldo Ribeiro Team
                </p>

                <br>
                <br>

                <address>
                    Salle Cuinelle<br>
                    1 Rue Nicolas Pavillon<br>
                    66220 Saint Paul de Fenouillet<br>
                    <br>
                    98798987897<br>
                    <a href="mailto:sgsaefgsdgsdf.fr">equipe agly@gmail.com</a>
                </address>
            </div>

            <div class="container_right">
                <nav>
                    <a href="../../index.html">Accueil</a>

                    <a href="legal.html">Mentions légales</a>
                    <a href="legal_rgpd.html">Politique de confidentialité</a>
                    <a href="legal_cookies.html">Cookies</a>
                </nav>
            </div>

        </div>

        <small>
            &copy; 2026 - 
            <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
        </small>

    </footer>

</body>