

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Club de Jiu-Jitsu Brésilien à Saint-Paul-de-Fenouillet. Cours pour enfants, adolescents et adultes.">

    <!-- seo pour google -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="Manel Ocana">

    <!-- pour partager le link -->
    <meta property="og:title" content="JJB Equipe Agly">
    <meta property="og:description" content="Dojo jiu-jitsu brésilien">
    <meta property="og:image" content="image.webp">
    <meta property="og:type" content="website">

    <link rel="icon" href="/favicon.ico">

    <!-- pour mobile -->
    <meta name="theme-color" content="#ffffff">

    <!-- ameillorer perfonmance de fontaines externes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet"> -->

    <title>JJB Equipe Agly | Jiu-Jitsu Brésilien à Saint Paul de Fenouillet</title>


    <link rel="stylesheet" href="../style.css">

</head>


<body id="top">


    <div class="site-header">

        <div class="brand flex-center">
            
            <div class="header-logo">
                <a href="../index.html">
                    <img src="../img/logo.png"
                        alt="logo jjb"
                        height="60px"
                        width="100%"
                        >
                </a>
            </div>
    
            <a href="#top">
                <h1>JJB Équipe Agly</h1>
            </a>

        </div>

        
        <header>

            <div id="container-header"> 
                <nav class="header-nav">
                    <a href="../index.html">Accueil</a>
                    
                </nav>          
            </div>
            
        </header>

    </div>


    <main>


        <section class="about-container-dojo container flex-column text-center">

            <img src="../img/logo.png"
                alt="logo jjb"
                height="160px"
                width="100%"
                >

            <h2>Les cours et horaires</h2>

        </section>


        <section id="schedule">
            <h2>Horaires</h2>

            <p>Adultes: Lundi · Jeudi — 19h30</p>
            <p>Enfants: Mercredi — 16h</p>
            <p>Ados: Mercredi — 17h</p>

        </section>



        <section class="about-container container flex-column text-center">

            <div>

                <h2>COURS ADULTES</h2>

                <p>
                    Une discipline complète, pas juste une activité sportive.

                </p>

                <p>
    Le Jiu-Jitsu Brésilien chez Équipe Agly c'est pas pensé seulement comme un simple passe-temps pour se défouler après le boulot. 
                </p>

                <p>
    
    Ici, on parle d’un vrai cadre d’entraînement structuré, régulier et exigeant, où chaque séance a un objectif clair : progresser techniquement et physiquement.
    </p>

    <p>
    Les adultes ont accès à 2 entraînements hebdomadaires :

    </p>

    <p>
    Le tout encadré par un coach investis, présents pour corriger, guider et faire évoluer chaque pratiquant, quel que soit son niveau. 
    </p>

    <p>
    
    Le repos est prévu les mardis et vendredis, histoire de laisser au corps le temps de comprendre ce qu’on lui a fait subir.

    </p>

    <p>
    Les séances sont mixtes en niveau : débutants, intermédiaires et confirmés s’entraînent ensemble, ce qui crée un environnement réaliste et dynamique.
                </p>

                <br>

                <img src="../img/img_equipe_agly_jjb.jpg"
                    alt="imagenes-cours-adultes"
                    height="250px"
                    width="100%"
                    >

                <img src="../img/img_equipe_agly_jjb.jpg"
                    alt="imagenes-cours-adultes"
                    height="250px"
                    width="100%"
                    >

            </div>
        </section>


        <section class="about-container container flex-column text-center">
            <div>
                <h2>COURS ENFANTS</h2>
                <p>
                    Apprendre à se construire, pas seulement à combattre.

                </p>

                <p>

    Le programme enfants s’adresse aux 6 à 14 ans, tous niveaux confondus. L’objectif n’est pas uniquement sportif : c’est aussi un apprentissage de la discipline, du respect et de la confiance en soi.
                </p>


                <p>

    Les cours sont encadrés par Arnaud Marty coach expérimenté, présent pour accompagner chaque enfant de manière sérieuse mais adaptée à leur âge.

</p>

<p>
    L’approche pédagogique est progressive : apprendre les bases, comprendre les mouvements, développer la coordination, et surtout apprendre à évoluer dans un groupe avec des règles claires.

</p>

<p>
    Pour ceux qui souhaitent aller plus loin, le club propose également un accompagnement vers la compétition, avec un suivi structuré et une préparation adaptée au rythme de chaque enfant.
                </p>
                
                <br>

                <img src="../img/img_equipe_agly_jjb.jpg"
                    alt="imagenes-cours-adultes"
                    height="250px"
                    width="100%"
                    >

                <img src="../img/img_equipe_agly_jjb.jpg"
                    alt="imagenes-cours-adultes"
                    height="250px"
                    width="100%"
                    >
            </div>
        </section>


    </main>


    <footer id="footer" class="flex-column text-center">
        <div class="container">
            <div class="container_left">
                <h3>
                    JJB Équipe Agly
                </h3>

                <p>
                    Affilié à :
                    Mateo Saurat BJJ
                    Reinaldo Ribeiro Team
                </p>

                <br>
                <br>

                <address>
                    Salle Cuinelle<br>
                    1 Rue Nicolas Pavillon<br>
                    66220 Saint Paul de Fenouillet<br>
                    <br>
                    98798987897<br>
                    <a href="mailto:sgsaefgsdgsdf.fr">equipe agly@gmail.com</a>
                </address>
            </div>

            <div class="container_right">
                <nav>
                    <a href="../index.html">Accueil</a>

                    <a href="legal/legal.html">Mentions légales</a>
                    <a href="legal/legal_rgpd.html">Politique de confidentialité</a>
                    <a href="legal/legal_cookies.html">Cookies</a>
                </nav>
            </div>

        </div>

        <small>
            &copy; 2026 - 
            <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
        </small>

    </footer>



</body>