

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Club de Jiu-Jitsu Brésilien à Saint-Paul-de-Fenouillet. Cours pour enfants, adolescents et adultes.">

    <!-- seo pour google -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="Manel Ocana">

    <!-- pour partager le link -->
    <meta property="og:title" content="JJB Equipe Agly">
    <meta property="og:description" content="Dojo jiu-jitsu brésilien">
    <meta property="og:image" content="image.webp">
    <meta property="og:type" content="website">

    <link rel="icon" href="/favicon.ico">

    <!-- pour mobile -->
    <meta name="theme-color" content="#ffffff">

    <!-- ameillorer perfonmance de fontaines externes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet"> -->

    <title>JJB Equipe Agly | Jiu-Jitsu Brésilien à Saint Paul de Fenouillet</title>


    <link rel="stylesheet" href="../style.css">

</head>


<body id="top">


    <div class="site-header">

        <div class="brand flex-center">
            
            <div class="header-logo">
                <a href="../index.html">
                    <img src="../img/logo.png"
                        alt="logo jjb"
                        height="60px"
                        width="100%">
                </a>
            </div>
    
            <a href="#top">
                <h1>JJB Équipe Agly</h1>
            </a>

        </div>

        
        <header>

            <div id="container-header"> 
                <nav class="header-nav">
                    <a href="../index.html">Accueil</a>   
                </nav>          
            </div>
            
        </header>

    </div>


    <main>

        <section class="about-container-dojo container flex-column text-center">

            <img src="../img/logo.png"
                alt="logo jjb"
                height="160px"
                width="100%"
                >

            <h2>Prix 2025 - 2026</h2>

        </section>


        <section class="about-container container flex-column text-center">

            <h2>JJB Adultes (à partir de 14 ans)</h2>
            <p>Cotisation annuelle adhérent: 159€</p>

        </section>


        <section class="about-container container flex-column text-center">

            <h2>JJB Enfants</h2>
            <p>Cotisation annuelle adhérent: 100€</p>

        </section>


        <section class="about-container container flex-column text-center">

            <h2>License et assurance CFJJB</h2>
            <p>Le prix la license CFJJB est obligatoire d'un montant de 41€ a l'anné</p>

        </section>


        <section class="about-container container flex-column text-center">

            <h2>Découvrez l’univers d’Équipe Agly</h2>
            <p>

                Avant de rejoindre le club, rien de mieux que de vivre l’expérience par vous-même. C’est pourquoi Équipe Agly permet aux personnes intéressées de participer à deux séances d’essai offertes, sans engagement.

            </p>

<p>

Choisir une nouvelle activité ou un nouvel art martial n’est pas toujours évident. Entre les idées reçues, les doutes et les questions que tout le monde se pose, le plus simple reste de monter sur le tatami et de découvrir l’ambiance du club directement sur place.

</p>

<p>

Durant ces séances, vous pourrez observer notre méthode d’enseignement, rencontrer les pratiquants et vous initier aux bases du Jiu-Jitsu Brésilien dans un cadre accueillant et accessible à tous.

</p>


<p>

Aucune démarche compliquée, aucun équipement spécifique à prévoir pour commencer. Une tenue de sport confortable suffit pour participer et découvrir cette discipline unique, mêlant technique, stratégie et dépassement de soi.

</p>

<p>

Chez Équipe Agly, les portes sont ouvertes à tous ceux qui souhaitent apprendre, progresser et partager la passion du Jiu-Jitsu Brésilien. 
<br>
OSS.

            </p>

        </section>

    </main>


    <footer id="footer" class="flex-column text-center">
        <div class="container">
            <div class="container_left">
                <h3>
                    JJB Équipe Agly
                </h3>

                <p>
                    Affilié à :
                    Mateo Saurat BJJ
                    Reinaldo Ribeiro Team
                </p>

                <br>
                <br>

                <address>
                    Salle Cuinelle<br>
                    1 Rue Nicolas Pavillon<br>
                    66220 Saint Paul de Fenouillet<br>
                    <br>
                    98798987897<br>
                    <a href="mailto:sgsaefgsdgsdf.fr">equipe agly@gmail.com</a>
                </address>
            </div>

            <div class="container_right">
                <nav>
                    <a href="../index.html">Accueil</a>

                    <a href="legal/legal.html">Mentions légales</a>
                    <a href="legal/legal_rgpd.html">Politique de confidentialité</a>
                    <a href="legal/legal_cookies.html">Cookies</a>
                </nav>
            </div>

        </div>

        <small>
            Copyright C 2026 - 
            <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
        </small>

    </footer>



</body>